main {
		width: 95%;
		margin: 0 auto;
	}

html, body {
	background-color: red;
	color:white;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: white;
}
	
h1 {
	font-size: 300%;
	margin: 0;
	padding: 0;
}

h1, h2{
	text-align: center;
	text-transform: uppercase;
}

@media screen and (min-width:700px)
{
	.column {
		width:30%;
		display: inline-block;
		float: left;
		margin-left: 2%;
   } 
	html,body{
		background-color: blue;
		color:white;
	}
}

@media screen and (min-width:1000px)
{
 
   html, body{
   	background-color: green;
   	color: white;
   }  
}

